@import 'src/styles.scss';

.box {
    margin: 2rem 1rem;
    padding: 2rem;
    box-shadow: 0px 1rem 2.5rem -8px rgba(29, 29, 38, 0.08);
    background-color: white;
}

h2 {
    font-size: 2rem;
}

.properties {
    margin: 2rem 1rem;
    box-shadow: 0px 1rem 2.5rem -8px rgba(29, 29, 38, 0.08);
    background-color: white;
    display: flex;
    overflow: auto;

    table {
        margin: 2rem;
        flex-grow: 1;
        border: none;

        thead {
            border-bottom: 1px solid var(--neutral-500);

            th {
                border: none;
                text-align: start;

                span {
                    font-size: 20px;
                }
            }
        }

        tbody {
            tr {
                border: none;
                td {
                    border: none;
                }
            }
        }
    }
}
