<h6 class="text--bold text--primary">Utilization demonstration:</h6>
<div class="box">
    <ng-content></ng-content>
</div>
<h6 class="text--bold text--primary">Properties</h6>
<div class="properties">
    <table>
        <thead>
            <th><span class="text">Name</span></th>
            <th><span class="text">Type</span></th>
            <th><span class="text">Definition</span></th>
            <th><span class="text">DefaultValue</span></th>
        </thead>
        <tbody>
            <tr class="item" *ngFor="let property of properties">
                <td class="name">
                    <span class="text text--600">{{ property.name }}</span>
                </td>
                <td class="type">
                    <span class="text text--600">{{ property.type }}</span>
                </td>
                <td class="definition">
                    <span class="text text--600">{{ property.definition }}</span>
                </td>
                <td class="default">
                    <span class="text text--600">{{ property.defaultValue }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
