:root {
    --neutral-800: #363636;
    --neutral-700: #4b4b4b;
    --neutral-600: #727272;
    --neutral-500: #9b9b9b;
    --neutral-400: #c6c6c6;
    --neutral-300: #dddddd;
    --neutral-200: #f3f3f3;
    --neutral-100: #ffffff;

    --negative: #eb0000;
    --warning: #ffad4e;
    --info: #4c7eff;
    --success: #30e1a1;

    --primary-800: #13357b;
    --primary-700: #2f4790;
    --primary-600: #4759a5;
    --primary-500: #5d6dbb;
    --primary-400: #7381d2;
    --primary-300: #a0aaff;
    --primary-200: #b6c0ff;
    --primary-100: #cdd6ff;

    --secondary-800: #4e14d8;
    --secondary-700: #6a2eef;
    --secondary-600: #8344ff;
    --secondary-500: #9d5aff;
    --secondary-400: #b670ff;
    --secondary-300: #cf85ff;
    --secondary-200: #e79bff;
    --secondary-100: #ffb2ff;

    --tertiary-800: #004374;
    --tertiary-700: #00568e;
    --tertiary-600: #0069a4;
    --tertiary-500: #007dba;
    --tertiary-400: #0092d0;
    --tertiary-300: #00a7e7;
    --tertiary-200: #49d3ff;
    --tertiary-100: #68e9ff;

    --quaternary-800: #00493b;
    --quaternary-700: #005d4d;
    --quaternary-600: #007260;
    --quaternary-500: #008774;
    --quaternary-400: #009d88;
    --quaternary-300: #00b39d;
    --quaternary-200: #00cab3;
    --quaternary-100: #00e0c9;
}
