@import './variables';

h1 {
    font-size: 56px;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h2 {
    font-size: 48px;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h3 {
    font-size: 40px;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h4 {
    font-size: 32px;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h5 {
    font-size: 24px;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h6 {
    font-size: 20px;
    font-family: 'Inter';
    color: var(--neutral-800);
}

.text--800 {
    font-family: 'Inter';
    color: var(--neutral-800);
}
.text--700 {
    font-family: 'Inter';
    color: var(--neutral-700);
}
.text--600 {
    font-family: 'Inter';
    color: var(--neutral-600);
}
.text--500 {
    font-family: 'Inter';
    color: var(--neutral-500);
}
.text--400 {
    font-family: 'Inter';
    color: var(--neutral-400);
}
.text--300 {
    font-family: 'Inter';
    color: var(--neutral-300);
}
.text--200 {
    font-family: 'Inter';
    color: var(--neutral-200);
}
.text--100 {
    font-family: 'Inter';
    color: var(--neutral-100);
}

.text--caption {
    font-size: 12px;
    font-family: 'Inter';
}

.text--small {
    font-size: 14px;
    font-family: 'Inter';
}

.text {
    font-size: 16px;
    font-family: 'Inter';
}

.text--large {
    font-size: 18px;
    font-family: 'Inter';
}

.text--negative {
    font-family: 'Inter';
    color: var(--negative);
}

.text--warning {
    font-family: 'Inter';
    color: var(--warning);
}

.text--info {
    font-family: 'Inter';
    color: var(--info);
}

.text--success {
    font-family: 'Inter';
    color: var(--success);
}

.text--primary {
    font-family: 'Inter';
    color: var(--primary);
}

.text--secondary {
    font-family: 'Inter';
    color: var(--secondary);
}

.text--tertiary {
    font-family: 'Inter';
    color: var(--tertiary);
}

.text--quaternary {
    font-family: 'Inter';
    color: var(--quaternary);
}

.text--bold {
    font-weight: 900;
}

.text--link {
    text-decoration: none !important;
}

.text--link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text--center {
    text-align: center;
}

@media only screen and (max-width: 576px) {
    h4 {
        font-size: 24px;
        font-family: 'Inter';
        color: var(--neutral-800);
    }

    h5,
    h6 {
        font-size: 16px;
        font-family: 'Inter';
        color: var(--neutral-800);
    }
}
