@import './variables';

h1 {
    font-size: 3.5rem;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h2 {
    font-size: 3rem;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h3 {
    font-size: 2.5rem;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h4 {
    font-size: 2rem;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h5 {
    font-size: 1.5rem;
    font-family: 'Inter';
    color: var(--neutral-800);
}

h6 {
    font-size: 1.25rem;
    font-family: 'Inter';
    color: var(--neutral-800);
}

.text--800 {
    font-family: 'Inter';
    color: var(--neutral-800);
}
.text--700 {
    font-family: 'Inter';
    color: var(--neutral-700);
}
.text--600 {
    font-family: 'Inter';
    color: var(--neutral-600);
}
.text--500 {
    font-family: 'Inter';
    color: var(--neutral-500);
}
.text--400 {
    font-family: 'Inter';
    color: var(--neutral-400);
}
.text--300 {
    font-family: 'Inter';
    color: var(--neutral-300);
}
.text--200 {
    font-family: 'Inter';
    color: var(--neutral-200);
}
.text--100 {
    font-family: 'Inter';
    color: var(--neutral-100);
}

.text--caption {
    font-size: 0.75rem;
    font-family: 'Inter';
}

.text--small {
    font-size: 0.85rem;
    font-family: 'Inter';
}

.text {
    font-size: 1rem;
    font-family: 'Inter';
}

.text--large {
    font-size: 1.15rem;
    font-family: 'Inter';
}

.text--negative {
    font-family: 'Inter';
    color: var(--negative);
}

.text--warning {
    font-family: 'Inter';
    color: var(--warning);
}

.text--info {
    font-family: 'Inter';
    color: var(--info);
}

.text--success {
    font-family: 'Inter';
    color: var(--success);
}

.text--primary {
    font-family: 'Inter';
    color: var(--primary);
}

.text--secondary {
    font-family: 'Inter';
    color: var(--secondary);
}

.text--tertiary {
    font-family: 'Inter';
    color: var(--tertiary);
}

.text--quaternary {
    font-family: 'Inter';
    color: var(--quaternary);
}

.text--bold {
    font-weight: 900;
}

.text--link {
    text-decoration: none !important;
}

.text--link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text--center {
    text-align: center;
}

@media only screen and (max-width: 576px) {
    h4,
    h3,
    h2,
    h1 {
        font-size: 1.5rem;
        font-family: 'Inter';
        color: var(--neutral-800);
    }

    h5,
    h6 {
        font-size: 1rem;
        font-family: 'Inter';
        color: var(--neutral-800);
    }
}
