@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("./HelveticaNeue-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("./HelveticaNeue-Light.eot") format("eot"),
    url("./HelveticaNeue-Light.otf") format("otf"),
    url("./HelveticaNeue-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./HelveticaNeue.ttf") format("ttf");
}
