@font-face {
  font-family: 'Helvetica New Bold';
  src: url("./Helvetica\ Neu\ Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("./HelveticaNeue-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("./HelveticaNeue-Light.eot") format("eot"),
    url("./HelveticaNeue-Light.otf") format("otf"),
    url("./HelveticaNeue-Light.ttf") format("ttf"),
    url("./HelveticaNeue-Light.woff") format("woff");
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./HelveticaNeue.ttf") format("ttf"),
    url("./HelveticaNeue.woff") format("woff"),
    url("./HelveticaNeue.woff2") format("woff2");
}


@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("./HelveticaNeueBold.woff") format("woff");
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("./HelveticaNeueMedium.woff") format("woff");
}
