<app-utilization class="content" [properties]="properties">
    <div class="components-content">
        <ps-contact email="admin@zoppy.com.br" name="admin Avenger"></ps-contact>
        <ps-contact email="alexandrekac99@gmail.com" name="Alexandre Avenger"></ps-contact>
        <ps-contact email="joaogabriel.machado@outlook.com" name="João Avenger"></ps-contact>
        <ps-contact email="lucasrloliveira@gmail.com" name="Lucas Avenger"></ps-contact>
        <ps-contact email="homelander@vought.com.br" name="Homelander Avenger"></ps-contact>
        <ps-contact email="noir@vought.com.br" name="Noir Avenger"></ps-contact>
        <ps-contact email="tony@stark.com.br" name="Stark Avenger"></ps-contact>
    </div>
</app-utilization>
