<app-utilization class="content" [properties]="properties">
    <div class="components-content">
        <ps-button (onClick)="clickButton()" type="primary"><span class="text text--100">Primary button</span></ps-button>
        <ps-button (onClick)="clickButton()" type="secondary"><span class="text text--100">Secondary button</span></ps-button>
        <ps-button (onClick)="clickButton()" type="alert"><span class="text text--100">Alert button</span></ps-button>
        <ps-button (onClick)="clickButton()" type="success"><span class="text text--100">Success button</span></ps-button>
        <ps-button (onClick)="clickButton()" type="error"><span class="text text--100">Error button</span></ps-button>
        <ps-button (onClick)="clickButton()" type="clean"><span class="text text--100">Clean button</span></ps-button>
    </div>
</app-utilization>
