<app-utilization class="content" [properties]="properties">
    <div class="components-content">
        <ps-button (onClick)="clickButton()" type="primary">Primary button</ps-button>
        <ps-button (onClick)="clickButton()" type="secondary">Secondary button</ps-button>
        <ps-button (onClick)="clickButton()" type="alert">Alert button</ps-button>
        <ps-button (onClick)="clickButton()" type="success">Success button</ps-button>
        <ps-button (onClick)="clickButton()" type="error">Error button</ps-button>
        <ps-button (onClick)="clickButton()" type="clean">Clean button</ps-button>
    </div>
</app-utilization>
