@import 'src/styles.scss';

.components-content {
    display: flex;
    flex-direction: column;

    .items {
        display: flex;
        flex-wrap: wrap;

        ps-button {
            padding: 0.5rem;
        }
    }
}
