<app-utilization class="content" [properties]="properties">
    <div class="components-content">
        <ps-input
            [icon]="'icon-alternate_email'"
            (onIconClicked)="batata()"
            [iconClick]="true"
            [selectAll]="true"
            type="string"
            [moveMaskedCursor]="false"
            mask="currency"
            [(ngModel)]="value"
            [maxCharactersAllowed]="10"
        ></ps-input>
        <ps-input img="./assets/svg/mastercard.svg" [errors]="['1']" mask="percent" [maxCharactersAllowed]="10"></ps-input>
    </div>
</app-utilization>
